# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

In [2]:
# Python의 리스트(List) 타입의 데이터 생성하기
data = [3,5,1,2]

In [3]:
# Pandas의 Series 타입의 데이터 생성하기
pandas.Series(data) # 오류. pandas라는 라이브러리를 import 해야 함

NameError: name 'pandas' is not defined

In [4]:
# pandas 라이브러리 임포트하기 (1)
import pandas
pandas.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [5]:
# pandas 라이브러리 임포트하기 (2)
import pandas as pd
pd.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [3]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series
Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [7]:
arr = [3,5,1,2] # 파이썬의 리스트 타입 변수
data1 = Series(arr)
data1

0    3
1    5
2    1
3    2
dtype: int64

In [8]:
data1.index = ['a','b','c','d']
data1

a    3
b    5
c    1
d    2
dtype: int64

In [9]:
# data1 = Series([3,5,1,2], ['a','b','c','d'])
data1 = Series(data = [3,5,1,2], index = ['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

In [10]:
# data와 index의 길이가 맞지 않으면 에러 발생
data1 = Series(data = [3,5,1,2], index = ['a','b','c'])

ValueError: Length of passed values is 4, index implies 3.

### 2) Tuple을 사용하여 Series 생성하기

In [11]:
arr2 = (3,5,1,2) # 튜플 타입의 데이터 생성
data2 = Series(arr2)
data2

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [4]:
arr3 = {
    'a': 3,
    'b': 5,
    'c': 1,
    'd': 2
} # Dict(사전) 타입의 데이터 생성
data3 = Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [6]:
type(data3.values)

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [14]:
Series(['big data', 10, 3.5, [1,2,3], {'a':5, 'b':3}, Series([1,2,3])])

0                             big data
1                                   10
2                                  3.5
3                            [1, 2, 3]
4                     {'a': 5, 'b': 3}
5    0    1
1    2
2    3
dtype: int64
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [7]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [16]:
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [17]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [18]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [19]:
sample.dtype

dtype('int64')

In [20]:
Series(['a','c']) # dtype('O') = Object (문자열이거나 2개 이상의 데이터타입)

0    a
1    c
dtype: object

In [21]:
Series([3,5.3,'abc'])

0      3
1    5.3
2    abc
dtype: object

In [22]:
Series([3,5.3])

0    3.0
1    5.3
dtype: float64

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

속성과 함수의 차이
속성: 뒷 부분이 공백
함수: 뒷 부분에 괄호

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [23]:
sample.describe() # 데이터 탐색 시 사용

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [24]:
sample.max()

100

In [27]:
# sample.mean()
sample.agg('mean')

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

add_prefix(prefix)는 인자 1개가 필요한 함수
함수마다 정의된 인자가 다르므로, 자세한 내용은 공식 문서 참고

In [30]:
sample.add_prefix('big-') # 출력된 결과는 원본 데이터에 반영되지 않음

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

결과를 원본에 반영하고 싶다면

In [33]:
sample2 = sample.add_prefix(prefix = 'big-')
sample2

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [31]:
sample.add_prefix() # 함수 인자 관련 에러

TypeError: add_prefix() missing 1 required positional argument: 'prefix'

4) value_counts() - Series에 있는 데이터 값들의 개수

In [34]:
sample.value_counts()

90     3
85     2
100    1
55     1
75     1
45     1
95     1
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

add 함수의 인자값
- other: Series 또는 Scalar 값
- fill_value: None 또는 실수값, 기본은 None(NaN)
- level: int 또는 name

필요한 경우에는 이러한 인자값들도 지정해주어야 한다

In [35]:
sample.add(100)

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [36]:
sample.add(5)

a     90
b     95
c     80
d     60
e     50
f     95
g    100
h     90
i     95
j    105
dtype: int64

In [38]:
sample.add([5,5,5,5,5,10,10,10,10,10])
# Series의 크기와 add로 보낸 인자의 리스트개수가 동일해야함

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [42]:
sr = Series(80, index = 'k')
# index 값이 일차원 배열 형태로 호출되어야 한다는 에러 발생

TypeError: Index(...) must be called with a collection of some kind, 'k' was passed

In [40]:
sr = Series(80, index = ['k'])
# index 값이 하나인 경우라도 list로 전달할 것
sr

k    80
dtype: int64

In [41]:
sample.append(sr)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [44]:
sample.isin(85)
# isin에 호출되는 인자는 list형태만 가능

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [int]

In [45]:
sample.isin([85])

a     True
b    False
c    False
d    False
e    False
f    False
g    False
h     True
i    False
j    False
dtype: bool

In [46]:
# data가 85, 90 에 포함여부 출력
sample.isin([85,90])

a     True
b     True
c    False
d    False
e    False
f     True
g    False
h     True
i     True
j    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [49]:
80 in [70,80,90]
# [70,80,90] 리스트에 80이 있는지 확인

True

In [50]:
80 in sample.values

False

In [51]:
85 in sample.values

True

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [53]:
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [58]:
# sample 데이터에서 값이 80이상이면 'Good', 아니면 'Bad'로 변환
def get_grade(val):
    if val >= 80:
        return 'Good'
    else:
        return 'Bad'

In [59]:
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

## 익명함수

- 람다(lambda) 함수라고도 함
- 이름이 없는 함수
- 함수를 재사용할 가능성이 굉장히 희박하거나 간단한 함수에 사용

## 익명함수의 장점

- 여러 줄의 코드가 필요한 일반함수에 비해 간결
- 메모리의 공간 절약 가능

In [60]:
# 익명함수(람다 함수) 활용
sample.apply(lambda val: 'Good' if val >= 80 else 'Bad')

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

- 람다 함수에서는 elif 구문 사용 불가
- 대신 if ~ else (if ~ else ~ ) 처럼 사용

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [63]:
# 숫자 인덱스
sample[2]

75

In [64]:
# 인덱스 라벨로 선택 가능
sample['c']

75

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [68]:
# 3,5,7번째 데이터를 선택하기
sample[[2,4,6]]
# 하나의 인자값에 여러 값을 전달하는 경우 리스트로 묶기

c    75
e    45
g    95
dtype: int64

In [70]:
sample[['c','e','g']]

c    75
e    45
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [72]:
# c부터 g까지의 데이터 선택
# 인덱스 슬라이싱 안 한 경우
sample[['c','d','e','f','g']]

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [74]:
# 인덱스 슬라이싱 한 경우
sample['c':'g'] # 문자 인덱스: 엔드 인덱스 포함

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [76]:
sample[2:7] # 숫자 인덱스: 엔드 인덱스 미포함

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [78]:
# sample의 맨 앞에 5개 데이터 선택
# 스타트 인덱스를 생략하면 처음부터 슬라이싱을 하는 것
# sample[0:5]
sample[:5]

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [80]:
# 엔드 인덱스를 생략하면 마지막 데이터까지 선택함
# sample[7:10]
sample[7:]

h     85
i     90
j    100
dtype: int64

In [81]:
# sample의 맨 뒤에 있는 3개 데이터 석택
sample[-3:]

h     85
i     90
j    100
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [86]:
boolean_idx = [True, False, False, False, False, 
               True, True, True, True, True]
# sample에 있는 데이터 개수와 boolean_idx 리스트 항목 개수가 동일해야함

In [85]:
sample[boolean_idx]

a     85
f     90
g     95
h     85
i     90
j    100
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [87]:
sample >= 90

a    False
b     True
c    False
d    False
e    False
f     True
g     True
h    False
i     True
j     True
dtype: bool

In [88]:
sample[sample >= 90]

b     90
f     90
g     95
i     90
j    100
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [94]:
# 1) 평균값 구하기
sample.mean()

81.0

In [95]:
# 2) 불리언 인덱스를 생성
bool_idx = sample > sample.mean()

In [96]:
# 3) sample[sample > sample.mean()]
sample[bool_idx]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [98]:
# 조건 2개 이상을 나열할 때는 조건을 괄호로 묶어야 함
cond_50_80 = (sample >= 50) & (sample <= 80)

In [99]:
sample[cond_50_80]

c    75
d    55
dtype: int64

=============================================================
# 실습 문제

In [7]:
import random
from pandas import Series

In [8]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    46
B    85
C    69
D    83
E    32
F     9
G     4
H    37
I    94
J    93
K    26
L    43
M    86
N    14
O    58
P    64
Q    97
R    31
S    11
T    20
U    96
V    53
W    15
X    17
Y    75
Z    91
dtype: int64

In [8]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K'] # 대소문자는 구분함, 소문자로 입력 시 keyError 발생

25

In [9]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A     1
F    22
C    11
dtype: int64

In [10]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    22
G    37
H    63
I    86
J    14
K    25
L    13
M    44
N    99
O    26
P    55
dtype: int64

In [11]:
# 4) 뒤에서 5개 항목 출력
# data[21:26]
data[-5:]

V    95
W    20
X    73
Y    38
Z    83
dtype: int64

In [12]:
# 5) data의 항목의 갯수를 출력
data.size

26

In [12]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
# data.mean()
# data > 52.769
# data[data > 52.769]
data[data > data.mean()]

B    85
C    69
D    83
I    94
J    93
M    86
O    58
P    64
Q    97
U    96
V    53
Y    75
Z    91
dtype: int64

In [13]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
# 50 in [10, 20, 30]
50 in data.values

False

In [18]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX

# for i in list(range(data.size)):
#     print('index: ', data.index[i], ', value: ', data.values[i], sep='')

# items() 함수는 index와 values를 튜플 형식으로 출력
for idx, val in data.items():
    print('index: ', idx, ', value: ', val, sep='')

index: A, value: 46
index: B, value: 85
index: C, value: 69
index: D, value: 83
index: E, value: 32
index: F, value: 9
index: G, value: 4
index: H, value: 37
index: I, value: 94
index: J, value: 93
index: K, value: 26
index: L, value: 43
index: M, value: 86
index: N, value: 14
index: O, value: 58
index: P, value: 64
index: Q, value: 97
index: R, value: 31
index: S, value: 11
index: T, value: 20
index: U, value: 96
index: V, value: 53
index: W, value: 15
index: X, value: 17
index: Y, value: 75
index: Z, value: 91