## 3. 웹 스크래핑

- 웹 사이트에 존재하는 데이터를 수집하여
- 내가 원하는 형태로 가공하고 정제하는 작업

#### 웹 크롤링
- 웹 스크래핑을 자동화하여 자졷ㅇ화된 봇이 정해진 규칙에 따라
- 여러 웹 사이트를 돌아다니면서 데이터를 수집하는 것

In [8]:
import pandas as pd
from pandas import DataFrame, Series

#### HTML(HyperText Markup Language
- read_html()
> 웹 사이트의 html 문서 내에 존재하는 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환해주는 함수
- read_html() 함수도 만능은 아님
> 동적 웹 페이지의 경우에는 이 함수를 사용할 수 없음
- 웹 스크래핑을 위한 라이브러리 활용
> requests 라이브러리, beautifulsoup 라이브러리, selenium 라이브러리 (이번에는 selenium 라이브러리 활용)

### 1) read_clipboard() - 복사(ctrl C) 붙여넣기(ctrl V)

In [13]:
# 2. chromedriver 다운로드하여 적절한 위치에 옮기기
# 다운로드 사이트: 
# https://sites.google.com/a/chromium.org/chromedriver/downloads
# 자신의 크롬 브라우저의 버전에 맞는 파일을 다운로드
코스피 = pd.read_clipboard()
코스피

EmptyDataError: No columns to parse from file

### 2) read_html() - html 문서 내 테이블 데이터 읽어오기

- 시가총액 테이블도 정보로 보고 읽어들여왔기 때문에
- 두번째 테이블이 우리가 원하는 정보

In [14]:
data = pd.read_html('https://finance.naver.com/sise/sise_market_sum.naver', encoding = 'cp949')

In [15]:
df = data[1]

In [16]:
# NaN값 제거하기
# 종목명의 값이 NaN이 아니라면 True, 맞다면 False
df[df.종목명.notnull()]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,71900.0,1300.0,-1.78%,100.0,4292274.0,5969783.0,51.84,22540227.0,15.14,9.99,NaN
2,2.0,SK하이닉스,97500.0,2500.0,-2.50%,5000.0,709802.0,728002.0,47.10,3041031.0,12.20,9.53,NaN
3,3.0,NAVER,371500.0,10500.0,-2.75%,100.0,610239.0,164263.0,56.59,719008.0,3.70,15.22,NaN
4,4.0,삼성전자우,66300.0,1700.0,-2.50%,100.0,545574.0,822887.0,74.89,2512551.0,13.96,NaN,NaN
5,5.0,삼성바이오로직스,812000.0,63000.0,-7.20%,2500.0,537260.0,66165.0,10.57,159750.0,160.47,NaN,NaN
9,6.0,LG화학,745000.0,25000.0,-3.25%,5000.0,525913.0,70592.0,46.60,268017.0,20.07,2.93,NaN
10,7.0,카카오,111500.0,5000.0,-4.29%,100.0,496166.0,444992.0,30.35,4658087.0,103.91,2.70,NaN
11,8.0,삼성SDI,678000.0,29000.0,-4.10%,5000.0,466224.0,68765.0,44.97,330499.0,50.23,4.54,NaN
12,9.0,현대차,193000.0,500.0,-0.26%,5000.0,412380.0,213668.0,28.44,978867.0,13.98,2.04,NaN
13,10.0,기아,77500.0,800.0,-1.02%,5000.0,314157.0,405363.0,34.40,1701189.0,9.05,5.05,NaN
17,11.0,셀트리온,217000.0,31000.0,-12.50%,1000.0,299318.0,137935.0,20.65,2255803.0,50.88,16.68,NaN
18,12.0,카카오뱅크,60100.0,5400.0,-8.24%,5000.0,285535.0,475100.0,5.60,2931767.0,194.50,5.08,NaN
19,13.0,POSCO,322000.0,2000.0,-0.62%,5000.0,280742.0,87187.0,55.05,319141.0,7.28,3.61,NaN
20,14.0,SK이노베이션,264000.0,500.0,+0.19%,5000.0,244109.0,92466.0,24.34,571089.0,-54.69,-13.58,NaN
21,15.0,현대모비스,250500.0,1000.0,+0.40%,5000.0,237457.0,94793.0,34.97,345837.0,10.75,4.66,NaN
25,16.0,SK텔레콤,320500.0,6500.0,-1.99%,500.0,230953.0,72060.0,44.57,462461.0,12.17,6.44,NaN
26,17.0,크래프톤,465500.0,32500.0,-6.53%,100.0,227869.0,48951.0,6.29,311685.0,40.08,61.86,NaN
27,18.0,KB금융,54800.0,400.0,-0.72%,5000.0,227863.0,415808.0,68.17,1338540.0,5.40,8.53,NaN
28,19.0,삼성물산,121500.0,0.0,0.00%,100.0,227068.0,186887.0,15.16,367183.0,13.86,3.81,NaN
29,20.0,LG생활건강,1341000.0,10000.0,+0.75%,5000.0,209440.0,15618.0,45.32,32703.0,28.16,17.92,NaN
33,21.0,신한지주,39250.0,450.0,-1.13%,5000.0,202765.0,516600.0,60.81,1767096.0,5.08,8.20,NaN
34,22.0,LG전자,123500.0,2000.0,-1.59%,5000.0,202105.0,163648.0,30.37,1102324.0,14.94,13.23,NaN
35,23.0,SK바이오사이언스,248500.0,25000.0,-9.14%,500.0,190102.0,76500.0,5.52,1159730.0,121.04,13.25,NaN
36,24.0,SK,262500.0,0.0,0.00%,200.0,184696.0,70360.0,19.66,167696.0,16.94,1.11,NaN
37,25.0,SK아이이테크놀로지,212000.0,15500.0,-6.81%,1000.0,151151.0,71298.0,9.87,401655.0,139.38,11.00,NaN
41,26.0,한국전력,23250.0,200.0,-0.85%,5000.0,149257.0,641964.0,15.04,1733555.0,12.52,2.91,NaN
42,27.0,LG,93300.0,300.0,+0.32%,5000.0,146762.0,157301.0,33.66,286923.0,5.84,7.50,NaN
43,28.0,삼성생명,71600.0,100.0,-0.14%,500.0,143200.0,200000.0,12.98,320196.0,8.17,3.53,NaN
44,29.0,포스코케미칼,176500.0,2000.0,-1.12%,500.0,136723.0,77463.0,8.09,751856.0,127.53,2.96,NaN
45,30.0,하나금융지주,45000.0,850.0,-1.85%,5000.0,135109.0,300242.0,68.39,1280721.0,4.44,8.96,NaN
49,31.0,S-Oil,113000.0,2500.0,+2.26%,2500.0,127219.0,112583.0,78.41,573906.0,14.53,-13.07,NaN
50,32.0,삼성전기,166000.0,3500.0,-2.06%,5000.0,123992.0,74694.0,32.77,475975.0,14.47,10.92,NaN
51,33.0,엔씨소프트,564000.0,31000.0,-5.21%,500.0,123821.0,21954.0,45.29,249699.0,30.27,20.83,NaN
52,34.0,HMM,30250.0,1550.0,-4.87%,5000.0,122631.0,405392.0,10.11,10879125.0,19.16,8.93,NaN
53,35.0,삼성에스디에스,157500.0,500.0,-0.32%,500.0,121870.0,77378.0,11.49,127995.0,18.91,6.71,NaN
57,36.0,대한항공,33450.0,200.0,-0.59%,5000.0,116346.0,347821.0,12.76,4561472.0,17.41,-7.22,NaN
58,37.0,하이브,292500.0,1000.0,+0.34%,500.0,114224.0,39051.0,16.17,349438.0,104.06,12.52,NaN
59,38.0,삼성화재,240000.0,2500.0,+1.05%,500.0,113700.0,47375.0,48.80,135302.0,11.37,4.96,NaN
60,39.0,KT&G,80700.0,100.0,-0.12%,5000.0,110795.0,137292.0,36.79,353692.0,10.00,13.22,NaN
61,40.0,아모레퍼시픽,178000.0,4500.0,+2.59%,500.0,104117.0,58493.0,32.02,385059.0,82.60,0.78,NaN
65,41.0,두산중공업,19400.0,300.0,-1.52%,5000.0,100629.0,518704.0,9.24,4036996.0,-46.08,-37.20,NaN
66,42.0,넷마블,115000.0,0.0,0.00%,100.0,98847.0,85954.0,22.83,188337.0,34.54,6.35,NaN
67,43.0,고려아연,506000.0,7000.0,+1.40%,5000.0,95482.0,18870.0,19.49,56041.0,13.20,8.37,NaN
68,44.0,현대중공업,105000.0,8500.0,-7.49%,5000.0,93212.0,88773.0,1.35,646396.0,-9.49,-7.86,NaN
69,45.0,한화솔루션,44150.0,1200.0,+2.79%,5000.0,84449.0,191278.0,18.50,2241371.0,10.95,5.30,NaN
73,46.0,KT,31800.0,200.0,-0.62%,5000.0,83034.0,261112.0,44.27,1307730.0,9.08,4.76,NaN
74,47.0,우리금융지주,11400.0,100.0,-0.87%,5000.0,82999.0,728061.0,28.80,3297382.0,3.98,5.87,NaN
75,48.0,롯데케미칼,236000.0,6000.0,-2.48%,5000.0,80890.0,34275.0,26.35,147259.0,6.77,1.22,NaN
76,49.0,한온시스템,15100.0,0.0,0.00%,100.0,80604.0,533800.0,18.13,802188.0,27.71,5.09,NaN
77,50.0,기업은행,10500.0,100.0,+0.96%,5000.0,78152.0,744301.0,13.04,1794805.0,4.41,6.44,NaN

- 50개의 페이지 중 10개의 페이지만 읽어들여와 하나의 데이터로 합치기

In [17]:
# 시가총액이 높은 상위 500개 기업 데이터 읽어오기

코스피500 = []
url = 'https://finance.naver.com/sise/sise_market_sum.naver?&page='
for num in range(1,11):
    full_url = url + str(num)
    data = pd.read_html(full_url, encoding = 'cp949')
    df = data[1]
    df = df[df.종목명.notnull()]
    코스피500.append(df)

In [18]:
# 항목당 50개씩 총 500개의 데이터가 저장됨
코스피500[0]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,71900.0,1300.0,-1.78%,100.0,4292274.0,5969783.0,51.84,22540227.0,15.14,9.99,NaN
2,2.0,SK하이닉스,97500.0,2500.0,-2.50%,5000.0,709802.0,728002.0,47.10,3041031.0,12.20,9.53,NaN
3,3.0,NAVER,371500.0,10500.0,-2.75%,100.0,610239.0,164263.0,56.59,719008.0,3.70,15.22,NaN
4,4.0,삼성전자우,66300.0,1700.0,-2.50%,100.0,545574.0,822887.0,74.89,2512551.0,13.96,NaN,NaN
5,5.0,삼성바이오로직스,812000.0,63000.0,-7.20%,2500.0,537260.0,66165.0,10.57,159750.0,160.47,NaN,NaN
9,6.0,LG화학,745000.0,25000.0,-3.25%,5000.0,525913.0,70592.0,46.60,268017.0,20.07,2.93,NaN
10,7.0,카카오,111500.0,5000.0,-4.29%,100.0,496166.0,444992.0,30.35,4658087.0,103.91,2.70,NaN
11,8.0,삼성SDI,678000.0,29000.0,-4.10%,5000.0,466224.0,68765.0,44.97,330499.0,50.23,4.54,NaN
12,9.0,현대차,193000.0,500.0,-0.26%,5000.0,412380.0,213668.0,28.44,978867.0,13.98,2.04,NaN
13,10.0,기아,77500.0,800.0,-1.02%,5000.0,314157.0,405363.0,34.40,1701189.0,9.05,5.05,NaN
17,11.0,셀트리온,217000.0,31000.0,-12.50%,1000.0,299318.0,137935.0,20.65,2255803.0,50.88,16.68,NaN
18,12.0,카카오뱅크,60100.0,5400.0,-8.24%,5000.0,285535.0,475100.0,5.60,2931767.0,194.50,5.08,NaN
19,13.0,POSCO,322000.0,2000.0,-0.62%,5000.0,280742.0,87187.0,55.05,319141.0,7.28,3.61,NaN
20,14.0,SK이노베이션,264000.0,500.0,+0.19%,5000.0,244109.0,92466.0,24.34,571089.0,-54.69,-13.58,NaN
21,15.0,현대모비스,250500.0,1000.0,+0.40%,5000.0,237457.0,94793.0,34.97,345837.0,10.75,4.66,NaN
25,16.0,SK텔레콤,320500.0,6500.0,-1.99%,500.0,230953.0,72060.0,44.57,462461.0,12.17,6.44,NaN
26,17.0,크래프톤,465500.0,32500.0,-6.53%,100.0,227869.0,48951.0,6.29,311685.0,40.08,61.86,NaN
27,18.0,KB금융,54800.0,400.0,-0.72%,5000.0,227863.0,415808.0,68.17,1338540.0,5.40,8.53,NaN
28,19.0,삼성물산,121500.0,0.0,0.00%,100.0,227068.0,186887.0,15.16,367183.0,13.86,3.81,NaN
29,20.0,LG생활건강,1341000.0,10000.0,+0.75%,5000.0,209440.0,15618.0,45.32,32703.0,28.16,17.92,NaN
33,21.0,신한지주,39250.0,450.0,-1.13%,5000.0,202765.0,516600.0,60.81,1767096.0,5.08,8.20,NaN
34,22.0,LG전자,123500.0,2000.0,-1.59%,5000.0,202105.0,163648.0,30.37,1102324.0,14.94,13.23,NaN
35,23.0,SK바이오사이언스,248500.0,25000.0,-9.14%,500.0,190102.0,76500.0,5.52,1159730.0,121.04,13.25,NaN
36,24.0,SK,262500.0,0.0,0.00%,200.0,184696.0,70360.0,19.66,167696.0,16.94,1.11,NaN
37,25.0,SK아이이테크놀로지,212000.0,15500.0,-6.81%,1000.0,151151.0,71298.0,9.87,401655.0,139.38,11.00,NaN
41,26.0,한국전력,23250.0,200.0,-0.85%,5000.0,149257.0,641964.0,15.04,1733555.0,12.52,2.91,NaN
42,27.0,LG,93300.0,300.0,+0.32%,5000.0,146762.0,157301.0,33.66,286923.0,5.84,7.50,NaN
43,28.0,삼성생명,71600.0,100.0,-0.14%,500.0,143200.0,200000.0,12.98,320196.0,8.17,3.53,NaN
44,29.0,포스코케미칼,176500.0,2000.0,-1.12%,500.0,136723.0,77463.0,8.09,751856.0,127.53,2.96,NaN
45,30.0,하나금융지주,45050.0,800.0,-1.74%,5000.0,135259.0,300242.0,68.39,1281870.0,4.44,8.96,NaN
49,31.0,S-Oil,113000.0,2500.0,+2.26%,2500.0,127219.0,112583.0,78.41,573906.0,14.53,-13.07,NaN
50,32.0,삼성전기,166000.0,3500.0,-2.06%,5000.0,123992.0,74694.0,32.77,475975.0,14.47,10.92,NaN
51,33.0,엔씨소프트,564000.0,31000.0,-5.21%,500.0,123821.0,21954.0,45.29,249699.0,30.27,20.83,NaN
52,34.0,HMM,30250.0,1550.0,-4.87%,5000.0,122631.0,405392.0,10.11,10879125.0,19.16,8.93,NaN
53,35.0,삼성에스디에스,157500.0,500.0,-0.32%,500.0,121870.0,77378.0,11.49,127995.0,18.91,6.71,NaN
57,36.0,대한항공,33450.0,200.0,-0.59%,5000.0,116346.0,347821.0,12.76,4561472.0,17.41,-7.22,NaN
58,37.0,하이브,293000.0,1500.0,+0.51%,500.0,114419.0,39051.0,16.17,350616.0,104.23,12.52,NaN
59,38.0,삼성화재,240000.0,2500.0,+1.05%,500.0,113700.0,47375.0,48.80,135302.0,11.37,4.96,NaN
60,39.0,KT&G,80700.0,100.0,-0.12%,5000.0,110795.0,137292.0,36.79,353692.0,10.00,13.22,NaN
61,40.0,아모레퍼시픽,178000.0,4500.0,+2.59%,500.0,104117.0,58493.0,32.02,385059.0,82.60,0.78,NaN
65,41.0,두산중공업,19400.0,300.0,-1.52%,5000.0,100629.0,518704.0,9.24,4036996.0,-46.08,-37.20,NaN
66,42.0,넷마블,115000.0,0.0,0.00%,100.0,98847.0,85954.0,22.83,188337.0,34.54,6.35,NaN
67,43.0,고려아연,506000.0,7000.0,+1.40%,5000.0,95482.0,18870.0,19.49,56041.0,13.20,8.37,NaN
68,44.0,현대중공업,105000.0,8500.0,-7.49%,5000.0,93212.0,88773.0,1.35,646396.0,-9.49,-7.86,NaN
69,45.0,한화솔루션,44150.0,1200.0,+2.79%,5000.0,84449.0,191278.0,18.50,2241371.0,10.95,5.30,NaN
73,46.0,KT,31800.0,200.0,-0.62%,5000.0,83034.0,261112.0,44.27,1307730.0,9.08,4.76,NaN
74,47.0,우리금융지주,11400.0,100.0,-0.87%,5000.0,82999.0,728061.0,28.80,3297382.0,3.98,5.87,NaN
75,48.0,롯데케미칼,236000.0,6000.0,-2.48%,5000.0,80890.0,34275.0,26.35,147259.0,6.77,1.22,NaN
76,49.0,한온시스템,15100.0,0.0,0.00%,100.0,80604.0,533800.0,18.13,802188.0,27.71,5.09,NaN
77,50.0,기업은행,10500.0,100.0,+0.96%,5000.0,78152.0,744301.0,13.04,1794805.0,4.41,6.44,NaN

In [19]:
data = pd.concat(코스피500)

In [20]:
data.to_html('data/코스피500데이터.html', encoding = 'cp949')

#### read_html() 함수의 한계
- HTML 문서 내에 테이블 형태의 데이터가 아닌 데이터를 읽어오고자 하는 경우
- 웹사이트가 로딩되면서 데이터를 동적으로 읽어오는 경우

In [29]:
# 삼성전자의 일별 시세 가져오기
삼성전자url = 'https://finance.naver.com/item/sise.naver?code=005930'
data = pd.read_html(삼성전자url, encoding = 'cp949')

In [31]:
data[0]

,0,1,2
0,"전일 73,200 73,200","고가 73,00073,000 (상한가 95,10095,100 )","거래량 22,629,465 22,629,464"
1,"시가 73,00073,000","저가 71,40071,400 (하한가 51,300 )","거래대금 1,629,763 1,629,763 백만"

In [35]:
# 삼성전자의 일별 시세 가져오기 - url 수정!!
삼성전자url = 'https://finance.naver.com/item/sise_day.nhn?code=005930'
data = pd.read_html(삼성전자url, encoding = 'cp949')

ValueError: No tables found

#### No tables found 에러 발생
- 데이터 로딩이 완료되기 전에 read_html() 함수가 실행되어 데이터를 읽어올 수 없기 때문

### 3) Selenium 라이브러리 활용  

* selenium 설치: conda install selenium
* chromedriver 다운로드 : https://sites.google.com/a/chromium.org/chromedriver/downloads

In [1]:
from selenium import webdriver

In [2]:
driver = webdriver.Chrome('chromedriver')

In [3]:
driver.implicitly_wait(3)

In [4]:
driver.get('https://finance.naver.com/item/sise_day.nhn?code=005930')

In [6]:
html = driver.page_source

In [10]:
data = pd.read_html(html, encoding = 'cp949')

In [13]:
삼성_일별 = data[0][data[0].날짜.notnull()]

In [16]:
# 실습. 모든 기간의 삼성전자 일별 데이터를 스크래핑해서
# 하나의 데이터프레임으로 저장

일별주가 = []
삼성전자url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page='
for i in range(1,200):
    full_url = 삼성전자url + str(i)
    driver.get(full_url)
    html = driver.page_source
    data = pd.read_html(html, encoding = 'cp949')
    삼성_일별 = data[0][data[0].날짜.notnull()]
    일별주가.append(삼성_일별)

In [20]:
삼성전자_일별_최종데이터 = pd.concat(일별주가)

In [21]:
삼성전자_일별_최종데이터

,날짜,종가,전일비,시가,고가,저가,거래량
1,2021.10.05,72200.0,1000.0,73000.0,73000.0,71400.0,23675889.0
2,2021.10.01,73200.0,900.0,73900.0,74000.0,72900.0,15803395.0
3,2021.09.30,74100.0,0.0,74300.0,74800.0,73700.0,19919361.0
4,2021.09.29,74100.0,2200.0,74800.0,75300.0,73800.0,23992458.0
5,2021.09.28,76300.0,1400.0,77700.0,77800.0,76200.0,15406382.0
...,...,...,...,...,...,...,...
9,2013.09.03,1337000.0,14000.0,1364000.0,1364000.0,1326000.0,235970.0
10,2013.09.02,1351000.0,17000.0,1368000.0,1371000.0,1350000.0,201632.0
11,2013.08.30,1368000.0,24000.0,1360000.0,1368000.0,1351000.0,342716.0
12,2013.08.29,1344000.0,35000.0,1317000.0,1348000.0,1314000.0,326300.0
13,2013.08.28,1309000.0,5000.0,1284000.0,1310000.0,1284000.0,189851.0

In [22]:
삼성전자_일별_최종데이터.to_excel('data/삼성전자_일별주가.xlsx', encoding = 'cp949')

## 4. 데이터베이스에서 읽기
### 파이썬에 내장(embedded)된 sqlite 사용

#### 데이터베이스란?
- 데이터베이스를 관리하기 위해서 사용하는 프로그램, DBMS
> MySQL, Oracle, PostgreSQL

In [23]:
import sqlite3

In [24]:
#테이블 생성 SQL 정의
테이블생성 = 'CREATE TABLE locations \
                (a varchar[20], b varchar[20], c integer)'

In [25]:
#sqlite 접속
conn = sqlite3.connect('temp.db')

In [26]:
#테이블 생성 SQL 수행 
conn.execute(테이블생성)

In [27]:
# commit() 수행. - SQL 수행 후, commit을 해야만, 데이터베이스에 SQL 구문이 적용됨 
conn.commit()

In [28]:
#생성된 테이블에 저장할 데이터 정의
data = [['서울','강남', 15]
       ,['서울','강동', 10]
       ,['서울','동대문', 7]
       ,['서울','양천', 12]
       ,['성남','분당', 12]
       ,['수원','영통', 15]
       ,['성남','중원', 11]
       ,['수원','팔달', 14]
       ]

In [32]:
# 데이터 적재 SQL 정의 
삽입 = 'insert into locations values (?,?,?)'

In [33]:
#데이터 적재 SQL 수행 
conn.executemany(삽입, data)

In [34]:
# commit() 수행 
conn.commit()

In [35]:
#Select SQL 실행1
pd.read_sql('select * from locations', conn)

    a    b   c
0  서울   강남  15
1  서울   강동  10
2  서울  동대문   7
3  서울   양천  12
4  성남   분당  12
5  수원   영통  15
6  성남   중원  11
7  수원   팔달  14

In [36]:
#Select SQL 실행2
pd.read_sql('select a, sum(c) from locations group by a', conn)

    a  sum(c)
0  서울      44
1  성남      23
2  수원      29

In [37]:
# 데이터베이스의 테이블 크기가 큰 경우에는 cursor 사용하기
cursor = conn.execute('select * from locations')

In [38]:
cursor

- cursor.fetchmany(cnt): cnt 개수만큼 데이터를 읽어옴
- 다시 실행하면 그 다음 데이터 읽어옴
- 데이터를 끝까지 다 읽으면 비어 있는 리스트가 반환됩니다

In [40]:
cursor.fetchmany(3)

[('서울', '동대문', 7), ('서울', '양천', 12), ('성남', '분당', 12)]

- cursor나 데이터베이스의 conn(커넥션) 같은 경우
- close()를 해주는게 기본적인 자원 관리를 위해 필요함

In [41]:
cursor.close()

In [42]:
conn.close()